[submodule "amr6_instance"]
	path = amr6_instance
	url = https://github.com/pixel-robotics/amr6_instance
[submodule "brummer_environment"]
	path = brummer_environment
	url = https://github.com/pixel-robotics/brummer_environment
